 <!--<p>promise componet </p>
<h3>computor product:</h3>
<p> {{addproduct.model}}</p>
<p> {{addproduct.price}}</p>
<p> {{addproduct.color}}</p>
<p>{{addproduct}}</p>
<p>{{datahttpget | json}}</p>
 -->

<!--<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>address</th>
    </tr>
    <tr  *ngFor="let http of datahttpget">
        <td>{{http.id}}</td>
        <td>{{http.name}}</td>
        <td>{{http.username}}</td>
        <td>{{http.email}}</td>
        <td>{{http.address}}}</td>
        
    </tr>
</table>-->

<div class="container">
    <div class="form-group">
        <label for="name">name</label>
        <input type="search" class="form-control"  id="name" #inputdata>
    </div>
    <button class="btn btn-danger"(click)="onsearch(inputdata)" >click</button>
</div>